.container-1{
    width: auto 50px;
    height: auto 50px;
    display: flex;
    width: 75%;
    margin: 0 auto;
    text-align: center;

}

.container-1-btn, .container-1-select{
    display: flex;
    padding: 5px;
    justify-content: space-around;

}

.container-1-text-input{
    text-align: center;
    margin-bottom: 25px;
    padding: 2px;
}

.container-2{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
}

.container-2-stats{
    border: 1px solid black;
    text-align: left;

}

input[type='number']{
    width: 80px;
} 